.task-app {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .task-form {
    width: 400px;
    margin: 50px auto; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(13, 13, 13, 0.459);
    text-align: center; 
    background-color: rgba(18, 18, 18, 0.768);
    
  }
  .task-form p{ 
    text-align: left;
    color: white;
  }
  .task-form div {
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px;
    background-color: #489ce6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #729de3;
  }
  
 
  .task-list {
    display: flex;
   flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;     width: 100%;
    
  }
  
  .task-item {
    background-color: #fff; 
    border-radius: 10px; 
    padding: 15px;
    flex-basis: calc(40% - 40px); 
    max-width: 380px; 
    border: 1px solid #ddd; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; 
    width: max-content;
    margin-bottom: 60px;
    height: 250px;
  }
  .task-item p{
    text-align: left;
    font-size: 17px;
    color: #555;
  }
  .task-item h3{
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  .task-content p {
    max-height: 150px; 
    overflow-y: auto; 
    overflow-x: hidden;
    margin-top: 20px; 
    word-wrap: break-word;
    height: 100px;
   
  }
  .task-content p{
    background-color: #f0efef;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .task-content h3 {
    margin: 0;
  }
  
  .task-content p {
    margin: 5px 0;
  }
  
  .delete-icon {
    color: #ff0000; 
    cursor: pointer;
    margin-left: 10px;
  }
  .clock-icon{
    margin-right: 10px;
  }
  
  .delete-icon:hover {
    color: #cc0000; 
  }
  .date{
    display: flex; 
    align-items: baseline ;
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
  }
  .deadline{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 10px; 
  
  }
  .importante{
    display: flex; 
    align-items: baseline ;
    text-align: left;
    font-size: 15px;
    margin-top: 40px;
    margin-top: 20px;
  }

select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff; 
    font-size: 16px; 
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"%3E%3Cpolygon points="0,0 5,5 10,0" fill="%234CAF50" /%3E%3C/svg%3E'); /* Custom dropdown arrow */
    background-repeat: no-repeat; 
    background-position: right 10px center; 
    background-size: 10px; 
  }
  
  
  select:focus {
    border-color: #4CAF50; 
    outline: none; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
  }
  
 
  select::-ms-expand {
    display: none; 
  }
  
  